.logo-img{
    width: 4em;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: .2em;
    &__item{
        border: 1px solid forestgreen;
        border-radius: 1em;
        padding: .5em 1em;
        text-decoration: none;
        color: #000;
        &:hover{
            text-decoration: none;
        }
    }
}
.borderless td, .borderless th {
    border: none;
}

.terminar{
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10em;
    &__button{
        border: 1px solid forestgreen;
        outline: none;
        padding: .3em 3em;
        border-radius: .5em;
        cursor: pointer;
        text-decoration: none;
        color: #000;
        &:active, &:visited, &:hover{
            outline: none;
            text-decoration: none;
            color: #000;
        }
    }
}